@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	border: 0;
}
html[lang^="ko"] {
	font-family: "Nanum Gothic", "나눔 고딕", "NanumGothic", sans-serif;
}
header {
	width: 980px;
	height: 110px;
	background-color: black;
	margin: 0 auto;
}
#wrap {
	width: 980px;
	margin: 0 auto;
	margin-top: 5px;
	min-height: 770px;
}
footer {
	clear: both;
	width: 980px;
	height: 100px;
	background-color: black;
	margin: 0 auto;
	margin-top: 5px;
}